.user-table {
  vertical-align: middle;
  text-align: center;
}

.btn-users-show {
  margin-top: -10px;
  margin-bottom: 10px;
}

#table-attendances {
  th {
    vertical-align: middle;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
}

/* form */
.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

.label-user--edit {
  margin-top: 5px;
}

.btn-user--edit {
  margin-top: 10px;
}

/* user table */

#table-users {
  td {
    vertical-align: middle;
    height: 60px;
  }  
}

.img-column {
  width: 60px;
}

.img-list {
  width: 50px;
  border-radius: 50%;
}

/* home */
.jumbotron-extend {
  height: 30%;
}

.jumbotron-extend .btn {
  width: 30%;
  margin: 1%;
}
